

services:

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: acme_db
      MYSQL_ROOT_PASSWORD: 2106
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10

  backend:
    build:
      context: ./backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/acme_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 2106
      SPRING_FLYWAY_ENABLED: "true"
    ports:
      - "9091:8080"

  frontend:
    build:
      context: ./storyspark-content-hub-main
    ports:
      - "8081:80"
    depends_on:
      - backend

volumes:
 mysql_data:
